/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON CLASSES*/
.flex{
    display: flex;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

/* MAIN*/
div.main-container{
    width: 100%;
    height: calc(100vh - 80px);
    

    border: 1px solid red;
}

/* side nav */
div.main-container .side-nav{
    width: 15%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 310px;

    

    background-color: lightgray
}

.side-nav-top{
    width: 100%;
    height: 250px;

    border: 1px solid black;
}

.side-nav-bottom{
    width: 100%;
    height: 60px;
    
    

    border: 1px solid black;
}

/* main content */
div.main-container .main-content{
    width: 85%;
    height: 100%;

    background-color: lightblue;
}

.main-content-top-banner{
    width: 100%;
    height: 60px;

    border: 1px solid black;
}

.main-content-center{
    width: 100%;
    height: calc(100% - 60px)

    border: 1px solid greenyellow;
}



/* footer */
div.footer-container{
    width: 100%;
    height: 80px;
    z-index: 2;
    

    border: 1px solid blue;
}
