/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* COMMON CLASSES*/
.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-white{
    color: white;
}

/* MAIN*/
div.main-container {
    width: 100%;
    height: calc(100vh - 90px);

}

/* side nav */
div.main-container .side-nav {
    width: 225px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;



    background-color: lightgray
}

.side-nav-top {
    width: 100%;
    height: 250px;
    min-height: 200px;
    overflow: auto;





    border: 1px solid black;
}

.side-nav-bottom {
    width: 100%;
    height: 60px;
    min-height: 60px;


    background-color: #010100;
}




/* main content */
div.main-container .main-content {
    width: calc(100% - 225px);
    height: 100%;

}

/* main content top bar */
.main-content-top-banner {
    width: 100%;
    height: 80px;
    text-align: right;
    line-height: 80px;
    overflow: hidden;
}

/* main content center */
.main-content-center {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    background-color: #141922;

}

.main-content-center-top-nav {
    width: 100%;
    height: 60px;


    border: 1px solid violet;
}

.main-content-center-song-cards {

    height: calc(100% - 60px);
    padding: 1rem;
    overflow: auto;
}

.row {
    width: 100%;
    justify-content: space-between;
    margin: 30px 0;

}

.song-card {
    width: 160px;
    margin-right: 1rem;

}

.song-card img {
    width: 100%;
}

/* FOOTER */
div.footer-container {

    width: 100%;
    height: 90px;
    background-color: #282828;

}

/* MEDIA QUERY */

/* large */
@media screen and (min-width:993px) and (max-width:1200px) {}

/* medium */
@media screen and (min-width:769px) and (max-width:992px) {

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 4rem)/4)
    }
}

/* small*/
@media screen and (min-width:577px) and (max-width:768px) {

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 2rem)/2)
    }
}

/* extra-small */
@media screen and (max-width:576px) {

    div.main-container .side-nav {
        width: 50px;
    }

    div.main-container .main-content {
        width: calc(100% - 50px);
    }

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 2rem)/2);


    }

}