/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/* COMMON CLASSES*/
.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-white{
    color: white;
}

.text-gray{
    color: #a2a2a3;
}

.text-small{
    font-size: .8rem;
}

.text-extra-small{
    font-size: .7rem;
}

.btn-square{
    padding: .2rem .65rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #a2a2a3;
}

.btn{
    padding: 0.7rem 1.4rem;
    border-radius: 25px;
    border: 1px solid white;
    font-weight: bold;
}

.mb-10{
    margin-bottom: 10px;
}

.mr-5{
    margin-right: 5px;
}

.br-circle{
    border-radius: 50%;
}

/* MAIN*/
div.main-container {
    width: 100%;
    height: calc(100vh - 90px);

}

/* side nav */
div.main-container .side-nav {
    width: 225px;
    height: 100%;
    background-color: #010100;
    overflow: hidden;
}

.main-logo{
    height: 80px;
    padding: 1rem;
    
}

.main-logo img{
    width: 70%;
}

.menu-list{
    height: 100px;
    
}
.menu-list ul li{
    padding: .3rem 1rem;
    list-style-type: none;
}

.menu-list ul img{
    width: 1.5rem;
    vertical-align: text-bottom;
}

.create-playlist{
    height: 90px;
    padding: 1rem;
    
}

.create-playlist h4{
    text-transform: uppercase;
    margin-bottom:.5rem;
}
.create-playlist-button{
    align-items: center;
}

.create-playlist span{
    margin-left: .5rem;
}

.playlist{
    height: calc(100% - (80px + 90px + 100px + 80px));
    min-height: 85px;
    padding: 0 1rem;
    overflow: auto;
}

.playlist ul li{
    padding: .5rem 0; 
    list-style-type: none;
    font-size: .7rem;
}



.side-nav-bottom {
    height: 80px;
    padding: 1rem;
}

.side-nav-bottom img{
    width: 1rem;
    vertical-align: text-bottom;
}
.side-nav-bottom hr{
    margin: .5rem 0;
}

.side-nav-bottom .profile-user img{
    background-color: #a2a2a3;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.side-nav-bottom .profile-user span{
    font-weight: bold;
}

/* side nav small */
div.main-container .side-nav-small {
    width: 50px;
    height: 100%;
    background-color: #010100;
    overflow: hidden;
    display: none;
}

.main-logo-small{
    height: 40px;
    padding: .5rem .7rem 0.5rem .7rem;
    
}

.main-logo-small img{
    width: 100%;
}

.menu-list-small{
    height: calc(100% - 120px);
    
}
.menu-list-small ul li{
    list-style-type: none;
    padding: .5rem .7rem 0 .7rem;
}

.menu-list-small ul img{
    width: 100%;
}

.side-nav-bottom-small {
    height: 50px;
    padding: .5rem .7rem 0 .7rem;
    text-align: center;

}

.side-nav-bottom-small img{
    width: 70%;
    margin-bottom: .5rem;

}

.side-nav-bottom-small .profile-user{
    height: 40px;
}
.side-nav-bottom-small .profile-user img{
    background-color: #a2a2a3;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
}

/* main content */
div.main-container .main-content {
    width: calc(100% - 225px);
    height: 100%;

}

/* main content top bar */
.main-content-top-banner {
    width: 100%;
    height: 80px;
    text-align: right;
    line-height: 80px;
    overflow: hidden;
    background-color: #090a12;
    padding-right: 1rem;
}

.main-content-top-banner a{
    text-transform: uppercase;
    
}


/* main content center */
.main-content-center {
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    background-color: #141922;


}

.main-content-center-top-nav {
    width: 100%;
    /* height: 60px; */
    text-align: center;
    line-height: 60px;
}

.main-content-center-top-nav ul li{
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 0.5rem;

}

.main-content-center-song-cards {

    /* height: calc(100% - 60px); */
    padding: 1rem;
    
}

.row {
    width: 100%;
    justify-content: space-between;
    margin: 30px 0;

}

.song-card {
    width: 160px;
    margin-right: 1rem;
    text-align: center;

}

.song-card img {
    width: 100%;
}

.play-icon{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 3rem;
    display: none;
}

.song-card:hover img{
    opacity: 0.4;
}

.song-card:hover .play-icon{
    display: flex;
}



/* FOOTER */
div.footer-container {

    width: 100%;
    height: 90px;
    background-color: #282929;
    justify-content: space-between;
    align-items: center;

}

div.footer-container .footer-left{
    padding: 0 1rem;
    width: 225px;
    align-items: center;
    justify-content: space-between;
    
}

.footer-left .song-running{
    align-items: center;
}

.footer-left .song-running img{
    width: 40px;
    margin-right: .5rem;
}


/* MEDIA QUERY */

/* large */
@media screen and (min-width:993px) and (max-width:1200px) {}

/* medium */
@media screen and (min-width:769px) and (max-width:992px) {

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 4rem)/4)
    }
}

/* small*/
@media screen and (min-width:577px) and (max-width:768px) {

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 2rem)/2)
    }
}

/* extra-small */
@media screen and (max-width:576px) {

    div.main-container .side-nav {
        display: none;
    }

    div.main-container .side-nav-small{
        display: block;
    }

    div.main-container .main-content {
        width: calc(100% - 50px);
    }

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 2rem)/2);


    }

}