/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAG SELECTORS */
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 310px;

}

a {
    text-decoration: none;
    color: black;
}

/* COMMON CLASSES*/
.flex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-white {
    color: white;
}

.text-gray {
    color: #a2a2a3;
}

.text-big {
    font-size: 1.5rem;
}

.text-small {
    font-size: .8rem;
}

.text-extra-small {
    font-size: .7rem;
}

.btn-square {
    padding: .2rem .65rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #a2a2a3;
}

.btn {
    padding: 0.7rem 1.4rem;
    border-radius: 25px;
    border: 1px solid white;
    font-weight: bold;
    font-size: .7rem;
    background-color: #090a12;
    text-transform: uppercase;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5{
    margin-bottom: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.br-circle {
    border-radius: 50%;
}

.bar {
    height: 5px;
    border-radius: 5px;
    background-color: #5a5a5a;
}

.active {
    border-left: 2px solid lawngreen;
    color: white;
}

/* MAIN*/
div.main-container {
    width: 100%;
    height: calc(100vh - 90px);

}

/* side nav */
div.main-container .side-nav {
    width: 225px;
    height: 100%;
    background-color: #010100;
    overflow: hidden;
}

.main-logo {
    height: 80px;
    padding: 1rem;

}

.main-logo img {
    width: 70%;
}

.menu-list {
    height: 100px;

}

.menu-list ul li {
    padding: .3rem 1rem;
    list-style-type: none;
}

.menu-list ul li a:hover {
    color: white;
}

.menu-list ul img {
    width: 1.5rem;
    vertical-align: text-bottom;
    opacity: 0.8;
}

.menu-list ul li a:hover img {
    opacity: 1;
}

.create-playlist {
    height: 90px;
    padding: 1rem;

}

.create-playlist h4 {
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.create-playlist-button {
    align-items: center;
}

.create-playlist-button:hover {
    color: white;
    cursor: pointer;
}

.create-playlist-button:hover a {
    background-color: white;
}

.create-playlist span {
    margin-left: .5rem;
}

.playlist {
    height: calc(100% - (80px + 90px + 100px + 80px));
    min-height: 85px;
    padding: 0 1rem;
    overflow: auto;
}

.playlist ul li {
    padding: .5rem 0;
    list-style-type: none;
    font-size: .7rem;
}

.playlist ul li:hover a {
    color: white;
}

.side-nav-bottom {
    height: 80px;
    padding: 1rem;
}

.side-nav-bottom a:hover {
    color: white;
}

.side-nav-bottom img {
    width: 1rem;
    vertical-align: text-bottom;
}

.side-nav-bottom hr {
    margin: .5rem 0;
}

.side-nav-bottom .profile-user img {
    background-color: #a2a2a3;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.side-nav-bottom .profile-user span {
    font-weight: bold;
}

/* side nav small */
div.main-container .side-nav-small {
    width: 50px;
    height: 100%;
    background-color: #010100;
    overflow: hidden;
    display: none;
}

.main-logo-small {
    height: 40px;
    padding: .5rem .7rem 0.5rem .7rem;
}

.main-logo-small img {
    width: 100%;
}

.menu-list-small {
    height: calc(100% - 120px);
}

.menu-list-small ul li {
    list-style-type: none;
    padding: .5rem .7rem 0 .7rem;
}

.menu-list-small ul img {
    width: 100%;
    opacity: 0.7;
}

.side-nav-bottom-small {
    height: 50px;
    padding: .5rem .7rem 0 .7rem;
    text-align: center;
}

.side-nav-bottom-small img {
    width: 70%;
    margin-bottom: .5rem;
}

.side-nav-bottom-small .profile-user {
    height: 40px;
}

.side-nav-bottom-small .profile-user img {
    background-color: #a2a2a3;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
}

/* main content */
div.main-container .main-content {
    width: calc(100% - 225px);
    height: 100%;

}

/* main content top bar */
.main-content-top-banner {
    width: 100%;
    height: 80px;
    text-align: right;
    line-height: 80px;
    overflow: hidden;
    background-color: #090a12;
    padding-right: 1rem;
}


.main-content-top-banner button:hover {
    transform:scale(1.1);
    cursor: pointer;
}

.bottom-active-line {
    width: 35px;
    height: 2px;
    background-color: lawngreen;
    bottom: -.5rem;
    left: 50%;
    transform: translate(-50%);
}

/* main content center */
.main-content-center {
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    background-color: #141922;
}

.main-content-center-top-nav {
    width: 100%;
    text-align: center;
    line-height: 60px;
}

.main-content-center-top-nav ul li {
    display: inline;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 0.5rem;
}

.main-content-center-top-nav ul a:hover {
    color: white;
}

.main-content-center-song-cards {
    padding: 1rem 0 1rem 1rem;
}

.row {
    width: 100%;
    flex-wrap: wrap;
    margin: 40px 0;
}

.song-card {
    width: calc((100% - 7rem)/7);
    margin-right: 1rem;
    text-align: center;
    margin-bottom: 10px;
}

.song-card:hover {
    cursor: pointer;
}

.song-card img {
    width: 100%;
}

.play-icon {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 3rem;
    display: none;
}

.song-card:hover img {
    opacity: 0.4;
}

.song-card:hover .play-icon {
    display: flex;
}


/* FOOTER */
div.footer-container {
    width: 100%;
    height: 90px;
    background-color: #282929;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

}

/* footer left */
div.footer-container .footer-left {
    width: 200px;
    align-items: center;
    justify-content: space-between;

}

.footer-left .song-running {
    align-items: center;
    margin-right: 1rem;
}

.footer-left .song-running img {
    width: 40px;
    margin-right: .5rem;
}

.footer-left p:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.footer-left i:hover {
    cursor: pointer;
    color: white;
}

/* footer center */
div.footer-container .footer-center {
    width: 35%;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
}

.footer-center .song-running-controls {
    width: 225px;
    justify-content: space-evenly;
    align-items: center;
}

.footer-center i:hover {
    cursor: pointer;
}

.footer-center .fa-play-circle:hover {
    transform: scale(1.2);
}

.song-running-time {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.song-running-time .bar {
    width: 85%;
}

.bar .bar-live {
    height: 100%;
    width: 15%;
    border-radius: 5px;
    background-color: #c1c1c1;
    justify-content: flex-end;
    align-items: center;
}

.bar-live .cue-ball-end-bar {
    width: 12px;
    height: 12px;
    background-color: white;
    display: none;
}

/* footer right */
div.footer-container .footer-right {
    width: 220px;
    align-items: center;
}

.footer-right .footer-icons {
    width: 55%;
    justify-content: space-between;
}

.footer-right i:hover {
    cursor: pointer;
}

.footer-right .bar {
    width: 45%;

}

.footer-right .bar-live {
    width: 35%;
}

.bar .bar-live:hover {
    cursor: pointer;
    background-color: lawngreen;
}

.bar .bar-live:hover .cue-ball-end-bar {
    display: block;
}


/* MEDIA QUERY */

/* extra large */
@media screen and (min-width:1201px) and (max-width:1400px) {
    .row {
        width: 100%;
        justify-content: space-between;
        margin: 40px 0;
    }
    
    .song-card {
        width: 141px;
    }

    .song-card h4{
        font-size: .6rem;
    }

    .song-card p{
        font-size: .5rem;
    }

    .plus{
        display: none;
    }

}

/* large */
@media screen and (min-width:993px) and (max-width:1200px) {
    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 6rem)/6);
    }

    .song-card h4{
        font-size: .6rem;
    }

    .song-card p{
        font-size: .5rem;
    }

    .plus{
        display: none;
    }
}

/* medium */
@media screen and (min-width:769px) and (max-width:992px) {

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 4rem)/4)
    }

    .song-card h4{
        font-size: .7rem;
    }

    .song-card p{
        font-size: .6rem;
    }

    .plus{
        display: none;
    }
}

/* small*/
@media screen and (min-width:577px) and (max-width:768px) {

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 2rem)/2)
    }

    .plus{
        display: none;
    }
}

/* extra-small */
@media screen and (min-width:480px) and (max-width:576px) {

    div.main-container .side-nav {
        display: none;
    }

    div.main-container .side-nav-small {
        display: block;
    }

    div.main-container .main-content {
        width: calc(100% - 50px);
    }

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 2rem)/2);
    }

    .plus{
        display: none;
    }

}

/* smartphone */
@media screen and (max-width:479px) {
    div.main-container .side-nav {
        display: none;
    }

    div.main-container .side-nav-small {
        display: block;
    }

    div.main-container .main-content {
        width: calc(100% - 50px);
    }

    .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .song-card {
        width: calc((100% - 2rem)/2);
    }

    .plus{
        display: none;
    }

    div.footer-container .footer-left {
        display: none;
    }

    div.footer-container .footer-right {
        width: 140px;
    }

    .footer-center .song-running-controls {
        width: 160px;
    }

    .bar .bar-live:hover .cue-ball-end-bar {
        display: none;
    }
}